.project__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--color-background);
}

.project__page--header {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--color-primary);
}

.project__page--header > h1 {
  font-size: 4rem;
  font-family: var(--font-primary);
  color: var(--color-background);
}

.pp--home {
  color: var(--color-background);
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 7px;
  border-radius: 50%;
  box-sizing: content-box;
  font-size: 2rem;
  cursor: 'pointer';
  box-shadow: 3px 3px 6px #ffffff40, -3px -3px 6px #00000050;
  transition: all 0.3s ease-in-out;
}

.pp--home:hover {
  transform: scale(1.1);
}

.pp--search {
  color: var(--color-background);
  width: 40%;
  height: 2.75rem;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0.95rem 1rem;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 0.9rem;
  background-color: var(--color-white);
}

.project__page--container {
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.project__page--search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__container {
  margin-top: 5rem;
  width: 100%;
}

.project__grid {
  display: flex;
  gap: 4rem;
}

@media (min-width: 992px) and (max-width: 1380px) {
}

@media screen and (max-width: 992px) {
  .project__page--header {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search {
    width: 90%;
  }

  .project__grid {
    gap: 3rem;
  }
}

@media screen and (max-width: 702px) {
  .project__grid {
    gap: 1.5rem;
  }

  .search {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .project__page--header h1 {
    font-size: 3rem;
  }

  .search {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .project__page--header {
    height: 10vh;
  }

  .project__page--header h1 {
    font-size: 2.5rem;
  }

  .search {
    width: 90%;
  }
}
