.about {
  min-height: 100vh;
  position: relative;
  background-color: var(--color-background);
}

.about .about__divider {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .about__divider .about__divider--circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.about .about__divider .about__divider--line {
  width: 95%;
  height: 5px;
  border-radius: 10px;
}

.about__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 8rem;
  height: fit-content;
}

.about__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  flex: 0.5;
  width: 100%;
  height: fit-content;
}

.about__description > h2 {
  margin-bottom: 40px;
  font-size: 3.5rem;
  color: var(--color-primary);
  font-family: var(--font-primary);
}

.about__description > p {
  font-size: 1rem;
  color: var(--color-text-secondary);
  font-family: var(--font-primary);
}

.about__image {
  margin-top: 40px;
  pointer-events: none;
}

.about__image > img {
  width: 380px;
  flex: 0.5;
}

@media (min-width: 992px) and (max-width: 1380px) {
  .about__description > h2 {
    font-size: 3.3rem;
    margin-bottom: 30px;
  }

  .about__description > p {
    font-size: 1.15rem;
  }

  .about__image > img {
    width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .about .about__divider {
    top: 20px;
  }

  .about__body {
    padding-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .about__description {
    flex: 0.6;
    box-sizing: border-box;
    padding: 20px;
  }

  .about__description > h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .about__description > p {
    font-size: 1.1rem;
  }

  .about__image > img {
    width: 250px;
    flex: 0.4;
  }
}

@media screen and (max-width: 800px) {
  .about .about__divider .about__divider--circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .about__description > h2 {
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .about .about__divider .about__divider--circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .about .about__divider .about__divider--line {
    width: 93%;
    height: 3px;
    border-radius: 10px;
  }

  .about__description > h2 {
    font-size: 2.5rem;
  }

  .about__description > p {
    font-size: 0.95rem;
  }

  .about__image > img {
    width: 200px;
  }
}
