.footer {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}

.footer p {
  font-weight: 500;
  font-family: var(--font-primary);
  font-size: 1rem;
  color: var(--color-white);
}

@media (max-width: 1100px) {
  .footer p {
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {
  .footer p {
    font-size: 0.9rem;
  }
}
