.footer {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}

.footer p {
  font-weight: 500;
  font-family: var(--font-primary);
  font-size: 1rem;
  color: var(--color-white);
}
