.project__card {
  width: 304px;
  height: 360px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 1.5rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--color-white);
  opacity: 0.8;
}

.project__card:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.project__card--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.project__card--content > h2 {
  font-family: var(--font-primary);
  color: var(--color-background);
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 110%;
  text-align: center;
}

.project__card--content > img {
  width: 100%;
  height: 50%;
  transition: opacity 0.7s 0.3s;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.63);
}

.project__card--showcase {
  display: flex;
  align-items: start;
  justify-content: left;
  width: 100%;
}

.project__card--showcase > a {
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.5s 0.3s;
}

.project__card .project__card--description {
  position: absolute;
  width: 95%;
  height: 160px;
  left: 0;
  top: 0;
  transform: translate(-110%, 40%);
  padding: 15px;
  border-radius: 0 20px 20px 0;
  transition: transform 0.9s;
  line-height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primary);
}

.project__card .project__card--lang {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: row;
  border-radius: 10px 0 0 10px;
  transform: translateX(100%);
  transition: transform 0.5s 0.3s;
  padding: 0.825rem;
}

.project__card:hover .project__card--lang {
  transform: translateX(0);
}

.project__card--lang > span {
  font-family: var(--font-primary);
  font-weight: 500;
  word-break: break-word;
  line-height: 100%;
}

.project__card .project__card--icon {
  font-size: 1.1rem;
  transition: all 0.2s;
}

.project__card:hover .project__card--icon {
  color: var(--color-primary);
}

.project__card .project__card--iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid var(--color-background);
  color: var(--color-background);
}

.project__card:hover .project__card--iconBtn {
  border: 2px solid var(--color-primary);
}
