@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background: #262633;
  --color-primary: #20968b;
  --color-secondary: #5f259f;
  --color-text-primary: #ffffff;
  --color-text-secondary: #e0d9d9;
  --font-primary: 'Poppins', sans-serif;
}

/* ScrollBar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  body {
    overflow-x: hidden;
  }
}
